/* .approval_flow-status td {
    background-color: #00FF00;
}
.frappe-control[data-fieldname="approval_flow"] {
    background-color: yellow;
} */

/* html[data-theme-mode="light"] .page-form.flex {
    background-color: cornflowerblue;
}

html[data-theme-mode="dark"] .page-form.flex {
    background-color: rgb(11, 32, 71);
} */