<p>{{_("Hi")}},</p>
<p>{{message}}.</p>
<p>{{"Click on the link below to validate"}}.</p>

{% for link in doc_links %}
 <p style="margin: 30px 0px;">
    {{loop.index}}
     &nbsp;&nbsp;
    {{link.name}}
   &nbsp;&nbsp; <a href="{{ link.doc_link }}" rel="nofollow" style="padding: 8px 20px; background-color: #7575FF; color: #fff; border-radius: 4px; text-decoration: none; line-height: 1; border-bottom: 3px solid rgba(0, 0, 0, 0.2); font-size: 14px; font-weight: 200;">Open</a>
</p>
{% endfor %}
<!--<br>
<p style="font-size: 85%;">{{_("You can also copy-paste this link in your browser")}} <a href="{{ link }}">{{ link }}</a></p> -->